:root {
	--container-width: 1340px;
	--container-padding: 15px;

	--font-main: 'Montserrat', sans-serif;

	--page-bg: #F5F5FC;
	--text-color: #111948;
	--accent: #1A43EF;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}