.feedbakc {

    /* .feedbakc__container */

    &__container {}

    /* .feedbakc__title */

    &__title {}

    /* .feedbakc__content */

    &__content {
        @media screen and (min-width: 1340px) {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            justify-content: space-between;
        }
    }

    /* .feedbakc__form */

    &__form {
        border-radius: 6px;
        background: var(--white, #FFF);
        padding: 50px;
        max-width: 870px;

        @media screen and (max-width: 1339px) {
            max-width: 100%;
        }

        @media screen and (max-width: 768px) {
            padding: 30px;
        }
    }

    /* .feedbakc__socials */

    &__socials {
        margin-top: 40px;
        display: none;
        justify-content: space-around;
        gap: 40px;
        flex-wrap: wrap;

        @media screen and (min-width: 1340px) {
            margin-top: 0;
            flex-direction: column;
            gap: 51px;
        }

        @media screen and (min-width: 1025px) {
            display: flex;
        }
    }

    /* .feedbakc__social */

    &__social {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    /* .feedbakc__social-ico */

    &__social-ico {
        img {
            min-width: 50px;
            min-height: 50px;
        }
    }

    /* .feedbakc__social-item */

    &__social-item {
        padding: 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        max-width: 320px;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 64px 0px rgba(224, 231, 255, 0.25);
    }

    /* .feedbakc__social-item-qr */

    &__social-item-qr {}

    /* .feedbakc__social-item-box */

    &__social-item-box {
        &>*:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    /* .feedbakc__social-item-title */

    &__social-item-title {
        font-weight: 600;
    }

    /* .feedbakc__social-item-desc */

    &__social-item-desc {
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
    }
}

.form-feedbakc {

    /* .form-feedbakc__title */

    &__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        font-size: 20px;
        font-weight: 600;
        line-height: normal;

        @media screen and (max-width: 768px) {
            margin-bottom: 30px;
        }
    }

    /* .form-feedbakc__title-txt */

    &__title-txt {}

    /* .form-feedbakc__title-ico */

    &__title-ico {}

    /* .form-feedbakc__inputs */

    &__inputs {
        display: flex;
        justify-content: space-between;
        gap: 60px;
        margin-bottom: 40px;

        @media screen and (max-width: 740px) {
            flex-direction: column;
            gap: 30px;
            margin-bottom: 30px;
        }
    }

    /* .form-feedbakc__input */

    &__input {
        padding: 15px;
        width: 100%;
        max-width: 350px;
        border-bottom: 1px solid #111948;

        @media screen and (max-width: 1339px) {
            max-width: 100%;
        }

        &::placeholder {
            color: #111948;
        }
    }

    /* .form-feedbakc__box */

    &__box {
        display: flex;
        gap: 50px;
        align-items: center;

        @media screen and (max-width: 676px) {
            flex-direction: column;
            gap: 30px;
            text-align: center;
        }
    }

    /* .form-feedbakc__btn */

    &__btn {
        width: 100%;
        height: 48px;
        padding: 12px 50px;
        border-radius: 50px;
        background: #1A43EF;
        color: white;

        @media screen and (min-width: 677px) {
            max-width: 290px;
        }
    }

    /* .form-feedbakc__desc */

    &__desc {
        font-size: 12px;
        color: #A0A5AD;
    }
}