.main-block {

    padding: 50px 0;
    background-color: white;

    @media screen and (max-width: 768px) {
        padding: 0 0 30px 0;
    }

    /* .main-block__container */

    &__container {

        @media screen and (min-width: 829px) {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    /* .main-block__text-content */

    &__text-content {

        @media screen and (min-width: 1025px) {
            min-width: 650px;
        }

        @media screen and (max-width: 1024px) {
            min-width: 525px;
        }

        @media screen and (max-width: 828px) {
            min-width: auto;
        }
    }

    /* .main-block__title */

    &__title {
        font-size: 48px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 30px;
        & > br:nth-child(1) {
            display: none;
        }
        & > br:nth-child(2) {
            display: none;
        }

        @media screen and (max-width: 1251px) {
            & > br:nth-child(1) {
                display: block;
            }
        }

        @media screen and (max-width: 1024px) {
            font-size: 40px;
        }

        @media screen and (max-width: 828px) {
            & > br:nth-child(1) {
                display: none;
            }
        }

        @media screen and (max-width: 568px) {
            font-size: 32px;
            margin-bottom: 20px;
        }
    }

    /* .main-block__desc */

    &__desc {

        font-weight: 500;
        line-height: normal;
        margin-bottom: 30px;

        @media screen and (min-width: 829px) {
            font-size: 20px;
        }

        @media screen and (max-width: 568px) {
            margin-bottom: 20px;
        }

        @media screen and (max-width: 480px) {
            font-size: 14px;
        }
    }

    /* .main-block__advantages */

    &__advantages {

        @media screen and (min-width: 536px) {
            gap: 70px;
        }

        @media screen and (max-width: 828px) {
            display: flex;
            align-items: center;
        }

        @media screen and (max-width: 535px) {
            justify-content: space-between;
        }


    }

    /* .main-block__advantage-box */

    &__advantage-box {
        &>*:not(:last-child) {
            margin-bottom: 10px;
        }

        @media screen and (max-width: 480px) {
            font-size: 14px;
        }
    }

    /* .main-block__advantage */

    &__advantage {
        display: flex;
        gap: 5px;
        align-items: center;

    }

    /* .main-block__advantage-ico */

    &__advantage-ico {
        img {
            min-width: 18px;
            min-height: 18px;
        }
    }

    /* .main-block__advantage-text */

    &__advantage-text {}

    /* .main-block__socials */

    &__socials {
        display: flex;
        gap: 15px;
        margin-top: 30px;

        @media screen and (max-width: 568px) {
            margin-top: 10px;
        }
    }

    /* .main-block__social */

    &__social {}

    /* .main-block__social-link */

    &__social-link {}

    /* .main-block__box */

    &__box {

        @media screen and (min-width: 700px) {
            position: relative;
            width: 100%;
            max-width: 650px;
        }
    }

    /* .main-block__image */

    &__image {
        width: 100%;
        padding-bottom: 83%;
        border-radius: 20px;
        height: 450px;


        img {
            border-radius: 20px;
        }

        @media screen and (min-width: 999px) {
            height: 540px;
        }

        @media screen and (max-width: 828px) {
            height: 260px;
        }

        @media screen and (max-width: 699px) {
            display: none;
        }
    }

    /* .main-block__btn */

    &__btn {
        display: flex;
        align-items: center;

        bottom: 50px;
        left: -65px;
        width: 130px;
        height: 130px;
        text-align: center;
        font-size: 12px;

        border-radius: 200px;
        background: var(--accent);
        filter: drop-shadow(0px 4px 64px rgba(13, 55, 239, 0.20));
        cursor: pointer;
        z-index: 1000;

        @media screen and (min-width: 999px) {
            left: -83px;
            bottom: 95px;
            width: 166px;
            height: 166px;
            font-size: 16px;
        }

        @media screen and (min-width: 700px) {
            position: absolute;
        }
    }

    /* .main-block__btn-text */

    &__btn-text {
        font-weight: 400;
        line-height: normal;
        color: white;
    }

    /* .main-block__btn-rings */

    &__btn-rings {
        border: 1px solid var(--accent);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: auto;
        width: auto;
        border-radius: 50%;
        animation-duration: 2.0s;
        animation-name: pulse_1;
        animation-iteration-count: infinite;
        z-index: -1;
    }

    @keyframes pulse_1 {
        from {
            opacity: 1;
            transform: scale(0.9, 0.9);
        }

        to {
            opacity: 0;
            transform: scale(1.3, 1.3);
        }
    }
}


// &__btn {
// display: flex;
// align-items: center;

// position: absolute;
// bottom: 95px;
// left: -83px;

// max-width: 166px;
// height: 100%;
// max-height: 166px;
// text-align: center;

// border-radius: 200px;
// background: var(--accent);
// filter: drop-shadow(0px 4px 64px rgba(13, 55, 239, 0.20));
// cursor: pointer;
// z-index: 1000;
// }

// /* .main-block__btn-text */

// &__btn-text {
//     font-weight: 400;
//     line-height: normal;
//     color: white;
// }

// /* .main-block__btn-rings */

// &__btn-rings {
// border: 1px solid var(--accent);
// position: absolute;
// top: 0;
// left: 0;
// bottom: 0;
// right: 0;
// height: auto;
// width: auto;
// border-radius: 50%;
// animation-duration: 2.0s;
// animation-name: pulse_1;
// animation-iteration-count: infinite;
// z-index: -1;
// }

// @keyframes pulse_1 {
//     from {
//         opacity: 1;
//         transform: scale(0.9, 0.9);
//     }

//     to {
//         opacity: 0;
//         transform: scale(1.3, 1.3);
//     }
// }